@media screen and (min-width: 880px) {
    body {
        font-family: 'Playfair Display', serif;
        background-color: whitesmoke;
    }

    /************Header***************/
    .header {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        width: 100vw;
    }

    .mainTitle {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        /*margin-left: -20vw;*/
    }

    .name {
        background: -webkit-linear-gradient(#221F1F, #111111);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        letter-spacing: 5px;
        text-align: left;
        text-shadow: 0px 4px 3px rgba(245, 245, 245, 0.4),
        0px 8px 13px rgba(245, 245, 245, 0.1),
        0px 18px 23px rgba(245, 245, 245, 0.1);
        border-bottom: 2px solid #221F1F;
        width: 575px;
        margin-left: 1vw;
        margin-top: 1vh;
        font-size: 84px;
    }

    .hello {
        background: -webkit-linear-gradient(#221F1F, #111111);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        letter-spacing: 5px;
        text-align: left;
        text-shadow: 0px 4px 3px rgba(245, 245, 245, 0.4),
        0px 8px 13px rgba(245, 245, 245, 0.1),
        0px 18px 23px rgba(245, 245, 245, 0.1);
        margin-top: -10%;
        height: 75px;
        margin-left: 1.5vw;
        font-size: 48px;
        width: 375px;
    }

    .contactInfo {
        display: flex;
        flex-direction: row;
        justify-content: left;
        margin-left: -5vw;
        /*border: 1px solid black;*/
    }

    p {
        display: flex;
        flex-direction: row;
    }

    a {
        background: -webkit-linear-gradient(#221F1F, #111111);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        letter-spacing: 5px;
        text-align: center;
        text-shadow: 0px 4px 3px rgba(245, 245, 245, 0.4),
        0px 8px 13px rgba(245, 245, 245, 0.1),
        0px 18px 23px rgba(245, 245, 245, 0.1);

    }

    img {
        width: 35px;
        height: 35px;
        margin: 5px;
    }

    .picMe {
        width: 150px;
        height: 150px;
        border-radius: 50%;
        margin-left: -4vw;
    }

    .contactWrapper {
        display: flex;
        flex-direction: column;
    }

    /***********Finish Header***************/
    .mainWrapper {
        display: flex;
        flex-direction: row;
    }

    h3, h4, h5, li {
        background: -webkit-linear-gradient(#221F1F, #111111);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        letter-spacing: 5px;
        text-align: left;
        text-shadow: 0px 4px 3px rgba(245, 245, 245, 0.4),
        0px 8px 13px rgba(245, 245, 245, 0.1),
        0px 18px 23px rgba(245, 245, 245, 0.1);
    }

    .mainWhy {
        display: flex;
        flex-direction: column;
        width: 100vw;
    }

    .traits {
        /*margin-bottom: -15px;*/
        background: -webkit-linear-gradient(#221F1F, #111111);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        letter-spacing: 5px;
        text-align: center;
        text-shadow: 0px 4px 3px rgba(245, 245, 245, 0.4),
        0px 8px 13px rgba(245, 245, 245, 0.1),
        0px 18px 23px rgba(245, 245, 245, 0.1);
    }

    .whyWrap {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        border-bottom: 1px solid #221F1F;
    }

    li {
        padding: 5px;
        font-size: 18px;
    }

    .history {
        display: flex;
        flex-direction: column;
        width: 60%;
    }

    .skills {
        display: flex;
        flex-direction: column;
        width: 40%;
        padding: -5px;
    }

    .learnAbout {
        display: flex;
        flex-direction: column;
        text-align: center;
        width: 75%;
        margin-left: 12.5%;
    }

    .learn {
        text-align: center;
    }

    .i {
        margin-top: -15px;
        text-align: left;
    }

    .interest {
        display: flex;
        flex-direction: column;
        width: 100vw;
        margin-top: 15px;

    }

    .hobbies {
        background: -webkit-linear-gradient(#221F1F, #111111);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        letter-spacing: 5px;
        text-align: center;
        text-shadow: 0px 4px 3px rgba(245, 245, 245, 0.4),
        0px 8px 13px rgba(245, 245, 245, 0.1),
        0px 18px 23px rgba(245, 245, 245, 0.1);
    }

    .intWrap {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        border-top: 1px solid black;
    }
}